# Copy this to .env and fill in your values

# IP address of your Daikin BRP15B61 on your local network
# Set a static DHCP reservation on your router for this address.
DAIKIN_HOST=192.168.1.xxx

# Your local timezone (used for scheduling)
# Find yours at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Pacific/Auckland

# Port to access the app on your NAS (http://nas-ip:PORT)
PORT=8080
